@import '../css/fonts.scss';
@import '../css/variables.scss';
@import '~react-image-gallery/styles/scss/image-gallery.scss';

html{
    background-color: $base-color;
}

body {
    font-size: $fontsize-m;
    font-family: $base-font-2;
    margin-bottom: $margin-xl;
    background-color: $base-color;

    h1              { font-size: 2em; margin: .67em 0 }
    h2              { font-size: 1.5em; margin: .75em 0 }
    h3              { font-size: 1.17em; margin: .83em 0 }
    h5              { font-size: .83em; margin: 1.5em 0 }
    h6              { font-size: .75em; margin: 1.67em 0 }
    h1, h2, h3, h4,
    h5, h6          
    { 
        font-weight: bolder; 
        color: $color-4;
    }

    p {
        margin: .83em 0
    }

}

header {
    padding: $margin-m 0;
    background-color: $color-3;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
    nav {
        font-size: $fontsize-l;

        ul {
            display: flex;
            list-style-type: none;
            li {
                flex: 1 1 auto;
                padding: 0 10px;
                
                a {
                    color: $color-1;
                    font-weight: bold;
                }
            }

        }
    }

    .hd-phone {
        padding-right: 10px;
        color: $color-1;
        font-size: $fontsize-l;
    }

    .hd-contact {
        font-size: $fontsize-l;
        color: $color-1;
    }
}

main {
    
    .separator {
        position: relative;
        width: 100%;
        height: 50px;
        margin-bottom: $margin-xl;
        &:before{
            content: '';
            position: absolute;
            top: 20px;
            width: 100%;
            height: 2px;
            background-color: $color-2;
        }
        &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 50px;
            height: 50px;
            background: url('../images/tire-icon.png') no-repeat center center;
        }
    }

    .stock-container{

        .products-item {
            background-color: $color-1;
            display: block;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.4); 
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
            &:hover{
                box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.4);
            }
        }

        .brand-image{
            width: 200px;
            max-width: 60%;
        }

    }

    .entry-content {
        ul {
            list-style-type: none;
    
            li{
                &:before{
                    content: '\f133';
                    display: inline-block;
                    font-family: "bootstrap-icons";
                    padding-right: 10px;
                 }
            }
        }
    }
}

.product-title {
    color: #222;
    text-transform: uppercase;
    font-size: $fontsize-xxl;

    &:after{
        content: '';
        height: 3px;
        display: block;
        background-color: rgba(0,0,0,.1);
        margin: 1em 0 1em;
        width: 100%;
        max-width: 30px;
    }
}

.image-frame {
    max-width: 100%;
    height: 227px;
    margin-bottom: $margin-s;
    overflow: hidden;
}

.product-brand-image{
    width: 200px;
    max-width: 60%;
}

.product-price {
    font-size: $fontsize-xxl;
    font-weight: 700;
    margin-bottom: $margin-m;
    color: $color-3;
}

.products-price {
    font-size: $fontsize-l;
    font-weight: 700;
    margin-bottom: $margin-m;
    color: $color-3;
}

.MuiBox-root{
    background-color: $color-1;
}

.image-gallery {
    background-color: $color-1;
}