$base-font-1: 'Oswald';
$base-font-2: 'Open Sans';

//Colors
$base-color: #f2f2f7;
$color-1: #fff;
$color-2: #000;
$color-3:#ef2809;
$color-4:#222;

//Sizing
$fontsize-xs: 8px;
$fontsize-s: 12px;
$fontsize-m: 16px;
$fontsize-l: 20px;
$fontsize-xl: 24px;
$fontsize-xxl: 28px;

$margin-xs: 10px;
$margin-s: 15px;
$margin-m: 20px;
$margin-l: 25px;
$margin-xl: 30px;
$margin-xxl: 35px;
